{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background: #333;
    color: white;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px 0;
}

h2 {
    margin-bottom: 10px;
}

.cta-button {
    background: #FFD700;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
}

form button {
    background: #333
}
.boundry{
    background-color: yellow;
    font-size: larger;
    text-align: center;   
}
